<form class="loginform my-4" id="updatepassword">
  <h4 class="text-center mb-3">Update Password</h4>
  <div class="form-outline mb-1">
    <input
      type="password"
      id="oldpass"
      name="oldpass"
      class="form-control"
      required
    />
    <label class="form-label" for="oldpass"> Old Password </label>
  </div>
  <div class="form-outline mb-1">
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      required
    />
    <label class="form-label" for="password">New Password </label>
  </div>
  <div class="form-outline mb-1">
    <input
      type="password"
      id="confirmpass"
      name="confirmpass"
      class="form-control"
    />
    <label class="form-label" for="confirmpass">Confirm Password </label>
  </div>
  <button
    name="customer_id"
    value="{{ user.customer_id }}"
    type="submit"
    class="btn btn-primary btn-block mb-3"
  >
    Update
  </button>
</form>
