<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/fontawesome-all.min.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    {% include '_header.html' %}
    <main class="row main">
      {% if user %}
      <section class="col-lg-3 col-md-2 col-xs-12">
        {% block sidebar %} {% endblock %}
      </section>
      {% endif %}
      <section class="container main_conatiner col-lg-9 col-md-10 col-xs-12">
        {% block content %} {% endblock %}
      </section>
    </main>

    <script src="{{ url_for('static', path='/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/index.js') }}"></script>
    <script>
      $(function () {
        if (!window.matchMedia('(min-width: 992px)').matches)
          $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
